In [1]:
import numpy as np
import pandas as pd

In [2]:
# load data
df = pd.read_csv('./data/IndiaAirQuality/india_air_quality.csv', encoding='unicode_escape')

/var/folders/hp/rx9_xs2s0z9f7xz1yr3rjcn40000gn/T/ipykernel_12612/2825916719.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/IndiaAirQuality/india_air_quality.csv', encoding='unicode_escape')

## 데이터 개요
- head()
- info()
- describe()
- etc.

In [3]:
df.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   stn_code                     291665 non-null  object
 1   sampling_date                435739 non-null  object
 2   state                        435742 non-null  object
 3   location                     435739 non-null  object
 4   agency                       286261 non-null  object
 5   type                         430349 non-null  object
 6   so2                          401096 non-null  float64
 7   no2                          419509 non-null  float64
 8   rspm                         395520 non-null  float64
 9   spm                          198355 non-null  float64
 10  location_monitoring_station  408251 non-null  object
 11  pm2_5                        9314 non-null    float64
 12  date                         435735 non-null  object
dtypes: float64(5), object(8)
memory usage: 43.2+ MB

## 데이터 정제 
- 'pm2_5'컬럼에 결측치가 있으면 데이터 드롭
- 'pm2_5'컬럼의 값에 따라 WHO 기준 '예보 등급' 결정
  - 76 이상 : '매우 나쁨'
  - 36 이상 76 미만 : '나쁨'
  - 16 이상 36 미만 : '보통'
  - 16 미만 : '좋음'

In [5]:
# 'pm2_5' 컬럼을 기준으로 결측치 존재할 경우 드롭
df_drop = df.dropna(subset=['pm2_5'])

In [6]:
print(len(df_drop))
df_drop.head()

9314

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
65036,558.0,06-08-15,Dadra & Nagar Haveli,Khadoli,"Daman Diu, Dadra & Nagar Heveli Pollution Cont...",Industrial Area,18.0,31.0,104.0,NaN,"Khadoli Industrial Area, Village- Khadoli, Sil...",35.0,2015-08-06
65037,558.0,10-08-15,Dadra & Nagar Haveli,Khadoli,"Daman Diu, Dadra & Nagar Heveli Pollution Cont...",Industrial Area,14.0,26.0,94.0,NaN,"Khadoli Industrial Area, Village- Khadoli, Sil...",32.0,2015-08-10
65038,558.0,13-08-15,Dadra & Nagar Haveli,Khadoli,"Daman Diu, Dadra & Nagar Heveli Pollution Cont...",Industrial Area,16.0,28.0,99.0,NaN,"Khadoli Industrial Area, Village- Khadoli, Sil...",35.0,2015-08-13
65039,558.0,20-08-15,Dadra & Nagar Haveli,Khadoli,"Daman Diu, Dadra & Nagar Heveli Pollution Cont...",Industrial Area,13.0,23.0,82.0,NaN,"Khadoli Industrial Area, Village- Khadoli, Sil...",24.0,2015-08-20
65040,558.0,24-08-15,Dadra & Nagar Haveli,Khadoli,"Daman Diu, Dadra & Nagar Heveli Pollution Cont...",Industrial Area,14.0,29.0,93.0,NaN,"Khadoli Industrial Area, Village- Khadoli, Sil...",32.0,2015-08-24

In [7]:
def get_level(pm2_5):
    if pm2_5 >= 76:
        return '매우 나쁨'
    elif pm2_5 >= 36 and pm2_5 < 76:
        return '나쁨'
    elif pm2_5 >= 16 and pm2_5 < 36:
        return '보통'
    elif pm2_5 < 16 :
        return '좋음'
    
df_drop['예보 등급'] = df_drop.loc[:, ('pm2_5')].apply(get_level)

/var/folders/hp/rx9_xs2s0z9f7xz1yr3rjcn40000gn/T/ipykernel_12612/2074361312.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['예보 등급'] = df_drop.loc[:, ('pm2_5')].apply(get_level)

In [8]:
df_drop.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date,예보 등급
65036,558.0,06-08-15,Dadra & Nagar Haveli,Khadoli,"Daman Diu, Dadra & Nagar Heveli Pollution Cont...",Industrial Area,18.0,31.0,104.0,NaN,"Khadoli Industrial Area, Village- Khadoli, Sil...",35.0,2015-08-06,보통
65037,558.0,10-08-15,Dadra & Nagar Haveli,Khadoli,"Daman Diu, Dadra & Nagar Heveli Pollution Cont...",Industrial Area,14.0,26.0,94.0,NaN,"Khadoli Industrial Area, Village- Khadoli, Sil...",32.0,2015-08-10,보통
65038,558.0,13-08-15,Dadra & Nagar Haveli,Khadoli,"Daman Diu, Dadra & Nagar Heveli Pollution Cont...",Industrial Area,16.0,28.0,99.0,NaN,"Khadoli Industrial Area, Village- Khadoli, Sil...",35.0,2015-08-13,보통
65039,558.0,20-08-15,Dadra & Nagar Haveli,Khadoli,"Daman Diu, Dadra & Nagar Heveli Pollution Cont...",Industrial Area,13.0,23.0,82.0,NaN,"Khadoli Industrial Area, Village- Khadoli, Sil...",24.0,2015-08-20,보통
65040,558.0,24-08-15,Dadra & Nagar Haveli,Khadoli,"Daman Diu, Dadra & Nagar Heveli Pollution Cont...",Industrial Area,14.0,29.0,93.0,NaN,"Khadoli Industrial Area, Village- Khadoli, Sil...",32.0,2015-08-24,보통

## 데이터 카운트

In [9]:
forecast_counts = df_drop['예보 등급'].value_counts()
forecast_counts

예보 등급
보통       4472
나쁨       2894
매우 나쁨     992
좋음        956
Name: count, dtype: int64

In [10]:
forecast_df = forecast_counts.reset_index()
forecast_df

   예보 등급  count
0     보통   4472
1     나쁨   2894
2  매우 나쁨    992
3     좋음    956

In [11]:
forecast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   예보 등급   4 non-null      object
 1   count   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

## 카테고리화 및 정렬 기준 정의
### pd.Categorical(values, categories, ordered)
- **values** : list-like 
  - The values of categorical.
- **categories** : Index-like(unique)
  - The unique categories for this categorical. 
- **ordered** : bool
  - Whether or not this categorical is treated as a ordered categorical.
  - If True, the resulting categorical will be orderd.
  - An ordered categorical respects, when sorted, the order of its 'categories' attribute.

In [25]:
ordered_category = ['매우 나쁨', '나쁨', '보통', '좋음']
forecast_df['예보 등급'] = pd.Categorical(forecast_df['예보 등급'], categories=['매우 나쁨', '나쁨', '보통', '좋음'], ordered=True)

In [30]:
forecast_df = forecast_df.sort_values(['예보 등급'])

In [31]:
forecast_df

   예보 등급  count
2  매우 나쁨    992
1     나쁨   2894
0     보통   4472
3     좋음    956

In [32]:
forecast_df.to_csv('./data/IndiaAirQuality/air_quality_forecast.csv', index=False)

In [33]:
saved = pd.read_csv('./data/IndiaAirQuality/air_quality_forecast.csv')

In [34]:
saved

   예보 등급  count
0  매우 나쁨    992
1     나쁨   2894
2     보통   4472
3     좋음    956